In [25]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a

   Roll_no     Name    Sub
0        2  Prakhar  Maths
1       23      Ram    Eng
2       43   Sakshi    Phy
3       12    Aanya   Chem

In [26]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a.head(2)

   Roll_no     Name    Sub
0        2  Prakhar  Maths
1       23      Ram    Eng

In [27]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a.tail(2)

   Roll_no    Name   Sub
2       43  Sakshi   Phy
3       12   Aanya  Chem

In [28]:
import pandas as pd
l1=pd.Series(['Adit','Sakshi','Pranu','Shruti'])
l2=pd.Series(['phy','chem','maths','Ip'])
l3=pd.Series([4,3,7,8])
d1={'Name':l1,'Sub':l2,'Roll_no':l3}
a=pd.DataFrame(d1)
a

     Name    Sub  Roll_no
0    Adit    phy        4
1  Sakshi   chem        3
2   Pranu  maths        7
3  Shruti     Ip        8

In [29]:
import pandas as pd
l1=pd.Series(['Adit','Sakshi','Pranu','Shruti'])
l2=pd.Series(['phy','chem','maths','Ip'])
l3=pd.Series([4,3,7,8])
d1={'Name':l1,'Sub':l2,'Roll_no':l3}
a=pd.DataFrame(d1)
a['Name'].str[0:2]

0    Ad
1    Sa
2    Pr
3    Sh
Name: Name, dtype: object

In [30]:
import pandas as pd
d1={'Name':'Adit','Sub':'phy','Roll_no':4}
d2={'Name':'Pranu','Sub':'maths','Roll_no':45}
l=[d1,d2]
a=pd.DataFrame(l)
a

    Name    Sub  Roll_no
0   Adit    phy        4
1  Pranu  maths       45

In [31]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a[1:3]

   Roll_no    Name  Sub
1       23     Ram  Eng
2       43  Sakshi  Phy

In [32]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a[-1:-3]

Empty DataFrame
Columns: [Roll_no, Name, Sub]
Index: []

In [33]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a[4:2]

Empty DataFrame
Columns: [Roll_no, Name, Sub]
Index: []

In [34]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a[-4:-2]

   Roll_no     Name    Sub
0        2  Prakhar  Maths
1       23      Ram    Eng

In [35]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a.loc[2]

Roll_no        43
Name       Sakshi
Sub           Phy
Name: 2, dtype: object

In [36]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a.iloc[3]

Roll_no       12
Name       Aanya
Sub         Chem
Name: 3, dtype: object

In [37]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a.index

RangeIndex(start=0, stop=4, step=1)

In [38]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a.columns

Index(['Roll_no', 'Name', 'Sub'], dtype='object')

In [39]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a.axes

[RangeIndex(start=0, stop=4, step=1),
 Index(['Roll_no', 'Name', 'Sub'], dtype='object')]

In [40]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a.dtypes

Roll_no     int64
Name       object
Sub        object
dtype: object

In [41]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a.size

12

In [42]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a.shape

(4, 3)

In [43]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a.values

array([[2, 'Prakhar', 'Maths'],
       [23, 'Ram', 'Eng'],
       [43, 'Sakshi', 'Phy'],
       [12, 'Aanya', 'Chem']], dtype=object)

In [44]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a.empty

False

In [45]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a.ndim

2

In [46]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a.count()

Roll_no    4
Name       4
Sub        4
dtype: int64

In [47]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a.T

               0    1       2      3
Roll_no        2   23      43     12
Name     Prakhar  Ram  Sakshi  Aanya
Sub        Maths  Eng     Phy   Chem

In [48]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a[['Name','Sub']]

      Name    Sub
0  Prakhar  Maths
1      Ram    Eng
2   Sakshi    Phy
3    Aanya   Chem

In [49]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a.loc[1:3]

   Roll_no    Name   Sub
1       23     Ram   Eng
2       43  Sakshi   Phy
3       12   Aanya  Chem

In [50]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a.iloc[1:3]

   Roll_no    Name  Sub
1       23     Ram  Eng
2       43  Sakshi  Phy

In [51]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a.rename(index={0:1,1:2,2:3,3:4})
a.loc[1:3]

   Roll_no    Name   Sub
1       23     Ram   Eng
2       43  Sakshi   Phy
3       12   Aanya  Chem

In [52]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a.rename(index={0:1,1:2,2:3,3:4})
a.iloc[1:3]

   Roll_no    Name  Sub
1       23     Ram  Eng
2       43  Sakshi  Phy

In [53]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a.max()

Roll_no        43
Name       Sakshi
Sub           Phy
dtype: object

In [54]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a.min()

Roll_no        2
Name       Aanya
Sub         Chem
dtype: object

In [61]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a.columns=['bgy','yfgyf','buug','vygfuy']
a

ValueError: Length mismatch: Expected axis has 3 elements, new values have 4 elements

In [62]:
import pandas as pd
l1=pd.Series(['Adit','Sakshi','Pranu','Shruti'])
l2=pd.Series(['phy','chem','maths','Ip'])
l3=pd.Series([4,3,7,8])
d1={'Name':l1,'Sub':l2,'Roll_no':l3}
a=pd.DataFrame(d1)
a.index.name='sno'
a.columns.name='Details'
a

Details    Name    Sub  Roll_no
sno
0          Adit    phy        4
1        Sakshi   chem        3
2         Pranu  maths        7
3        Shruti     Ip        8

In [63]:
import pandas as pd
l1=pd.Series(['Adit','Sakshi','Pranu','Shruti'])
l2=pd.Series(['phy','chem','maths','Ip'])
l3=pd.Series([4,3,7,8])
d1={'Name':l1,'Sub':l2,'Roll_no':l3}
a=pd.DataFrame(d1)
a['Place']=[2,4,6,8]
a

     Name    Sub  Roll_no  Place
0    Adit    phy        4      2
1  Sakshi   chem        3      4
2   Pranu  maths        7      6
3  Shruti     Ip        8      8

In [64]:
import pandas as pd
l1=pd.Series(['Adit','Sakshi','Pranu','Shruti'])
l2=pd.Series(['phy','chem','maths','Ip'])
l3=pd.Series([4,3,7,8])
d1={'Name':l1,'Sub':l2,'Roll_no':l3}
a=pd.DataFrame(d1)
a['Place']=pd.Series([2,4,6,8])
a

     Name    Sub  Roll_no  Place
0    Adit    phy        4      2
1  Sakshi   chem        3      4
2   Pranu  maths        7      6
3  Shruti     Ip        8      8

In [65]:
import pandas as pd
l1=pd.Series(['Adit','Sakshi','Pranu','Shruti'])
l2=pd.Series(['phy','chem','maths','Ip'])
l3=pd.Series([4,3,7,8])
d1={'Name':l1,'Sub':l2,'Roll_no':l3}
a=pd.DataFrame(d1)
a.insert(2,'Place',[2,4,6,8])
a

     Name    Sub  Place  Roll_no
0    Adit    phy      2        4
1  Sakshi   chem      4        3
2   Pranu  maths      6        7
3  Shruti     Ip      8        8

In [66]:
import pandas as pd
l1=pd.Series(['Adit','Sakshi','Pranu','Shruti'])
l2=pd.Series(['phy','chem','maths','Ip'])
l3=pd.Series([4,3,7,8])
d1={'Name':l1,'Sub':l2,'Roll_no':l3}
a=pd.DataFrame(d1)
a.assign(Place=[2,4,6,8])

     Name    Sub  Roll_no  Place
0    Adit    phy        4      2
1  Sakshi   chem        3      4
2   Pranu  maths        7      6
3  Shruti     Ip        8      8

In [67]:
import pandas as pd
l1=pd.Series(['Adit','Sakshi','Pranu','Shruti'])
l2=pd.Series(['phy','chem','maths','Ip'])
l3=pd.Series([4,3,7,8])
d1={'Name':l1,'Sub':l2,'Roll_no':l3}
a=pd.DataFrame(d1)
a.loc[a['Roll_no']>=5]

     Name    Sub  Roll_no
2   Pranu  maths        7
3  Shruti     Ip        8

In [68]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a.drop(2)

   Roll_no     Name    Sub
0        2  Prakhar  Maths
1       23      Ram    Eng
3       12    Aanya   Chem

In [69]:
a.sum()

Roll_no                       80
Name       PrakharRamSakshiAanya
Sub              MathsEngPhyChem
dtype: object

In [72]:
a.describe()

         Roll_no
count   4.000000
mean   20.000000
std    17.568912
min     2.000000
25%     9.500000
50%    17.500000
75%    28.000000
max    43.000000

In [73]:
a.count()

Roll_no    4
Name       4
Sub        4
dtype: int64

In [71]:
import pandas as pd
a=pd.read_csv(r'C:/Users/Rahul/Downloads/task101.csv')
a['class'].mode()

KeyError: 'class'

In [74]:
a.quantile(q=0.4,axis=0)

TypeError: unsupported operand type(s) for -: 'str' and 'str'